<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Plex server connection</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />
  </head>
  <body class = "appBody">
    <h3>Select a Server</h3>

    <form id="server-form" action="/select_server" method="POST">
      <input type="hidden" name="resource_name" id="selected-server" />
      <div class="container">
        {% for resource in resources %}
        <div class="button" onclick="selectServer('{{ resource.name }}')">
          <h4>{{ resource.name }}</h4>
        </div>
        {% endfor %}
      </div>
    </form>

    <script>
      function selectServer(name) {
        document.getElementById("selected-server").value = name;
        document.getElementById("server-form").submit();
      }
    </script>
  </body>
</html>
